.search {
    background: $blueDark2;
    box-shadow: 0px 1px 7px rgba(7, 7, 7, 0.47);
    border-radius: 100px;
    padding: 1.5rem;
    width: 50%;
    margin-top: 5rem;
    
    &::placeholder {
        color: #fff;
        font-family: $fontDefault;
        font-size: 1rem;
    }
}